.show {
    display: block;
}

.buttonDelete {
    cursor: pointer;
    width: 32px;
    height: 32px;

    transition: background-position-x 200ms;
    background-image: url("assets/close.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: 70px;
}

.tableRow:hover .buttonDelete {
    background-position-x: 0;
}

.toast {
    position: absolute;
    bottom: 20px;
    right: 20px;
    z-index: 999;
}